*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

header{
  border-bottom: solid 2px black;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  text-align: center;
}


body{
  background-color: #f0eef1;
}

main{
  height: 50vh;
}

.add-book{
  display: flex;
  justify-content: center;
}

.add-btn{
  font-size: 1.25rem;
  border: none;
  margin: 1rem;
  padding: .5rem 1rem;
  font-weight: 500;
}

.add-btn:hover{
  border-radius: .25rem;
  background-color: #c0bec0;
  cursor: pointer;
}

.book-collection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library{
  margin: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 1000px;
}

.book-card{
  background-color: white;
  padding: 1rem;
  border: 2px solid black;
  border-radius: .25rem;
}

.close-button button, .form-container form div.submit button{
  padding: 0 .25rem;
}

.close-button button:hover, .form-container form div.submit button:hover{
  cursor: pointer;

}

.form-container{
  display: flex;
  justify-content: center;
}

.form-container form{
  background-color: white;
  position: absolute;
  display: none;
  flex-direction: column;
  gap: .5rem;
  width: 30%;
  border: 1px black solid;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  z-index: 99;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.form-container form div{
  display: flex;
  flex-direction: column;
}

.form-container .close-button{
  display: block;
  margin-bottom: 1rem;
}

.form-container form div.read-form-input{
  flex-direction: row;
  gap: .5rem;
  justify-content: center;
}

.form-container form div.submit{
  display: block;
  margin: 0 auto;
}

footer{
  text-align: center;
  border-top: 2px solid black;
  background-color: white;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}